activemq-data
amqstore
.classpath
.clover
.DS_Store
.idea
*.iml
*.ipr
*.iws
*.log
.project
.settings
.springBeans
spring-integration-gemfire/BACKUP_*
spring-integration-gemfire/KEYS_*
spring-integration-gemfire/RECOVERY_*
surefire*
*.swp
target
