<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <!-- To enable JMX Management -->
    <jmxConfigurator/>
    <property resource="logconfig/logging.properties" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/${log.file}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.dir}/${log.file}.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>

			<!-- days of history to keep -->
			<maxHistory>5</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5level|%logger{0}|%msg%n%n</pattern>
			<!--<pattern>%-4relative [%thread] %-5level %logger{5} - %msg%n%n</pattern>-->
		</encoder>
	</appender>

	<logger name="org.cloudfoundry" level="trace" />

	<logger name="com.gordondickens" level="debug" />
	<logger name="org.springframework" level="warn" />

	<logger name="org.springframework.beans.factory" level="debug" />

	<logger name="com.springsource.batch" level="debug" />
	<logger name="org.springframework.batch" level="debug" />
	<logger name="org.springframework.data" level="debug" />
    <logger name="org.springframework.web" level="trace" />
    <logger name="org.apache.tiles" level="debug" />
    <logger name="org.springframework.transaction" level="info" />

    <logger name="com.gordondickens.bcf" level="debug">
        <appender-ref ref="file"/>
    </logger>

    <!--<logger name="org.springframework.web" level="debug">-->
    <!--<appender-ref ref="file"/>-->
    <!--</logger>-->

    <logger name="org.springframework" level="debug">
        <appender-ref ref="file"/>
    </logger>

	<root level="warn">
		<appender-ref ref="console" />
	</root>
</configuration>
