<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <property resource="logging.properties" />

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%-5level %logger{0}: %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
      
    <appender name="SERVER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${server.log.dir}/${server.log.access.file}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${server.log.dir}/${server.log.access.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>combined</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="trace">
        <appender-ref ref="SERVER_FILE"/>
    </logger>
    <logger name="com.gordondickens.bcf" level="trace">
        <appender-ref ref="SERVER_FILE"/>
    </logger>
    <!--<logger name="org.springframework.web" level="debug">-->
        <!--<appender-ref ref="SERVER_FILE"/>-->
    <!--</logger>-->
    <logger name="org.springframework" level="trace">
        <appender-ref ref="SERVER_FILE"/>
    </logger>
      
    <root level="info">
        <appender-ref ref="SERVER_FILE"/>
        <!--<appender-ref ref="STDOUT"/>-->
    </root>
</configuration>